footer {
  .copyright {
    justify-content: space-between;
    padding: 2rem;
    // gap: 2rem;
  }

  .flex {
    gap: 1rem;
    font-size: 16px;
    color: $qora60;
  }
}

@media (max-width: $md) {
  footer .container .copyright {
    display: inline-block;

    .foot-logo img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 10rem;
    }

    .foot-servis {
      display: flex;
      justify-content: center;
      margin-left: 6rem;
    }
    ul.copy p {
      margin-left: 5rem;
    }
  }
}
