$kok0: #003459;
$kok1: #002a48;
$kok2: #00528c;
$kok3: #0078cd;

$sariq: #f7dba7;
$sariq1: #eec77e;
$sariq2: #f1d092;
$sariq3: #fceed5;

$qora100: #00171f;
$qora80: #242b33;
$qora60: #667479;
$qora40: #99a2a5;
$qora20: #ccd1d2;
$qora10: #ebeeef;
$qora0: #fdfdfd;

$qizil: #ff564f;
$yashil: #34c759;
$olovrang: #ff912c;
$havorang: #00a7e7;

$oq: #fff;


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
